<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         stopOnFailure="false"
         backupGlobals="false"
         processIsolation="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="UnitTest.php">./src</directory>
        </testsuite>
        <testsuite name="Browser">
            <directory suffix="BrowserTest.php">./src</directory>
        </testsuite>
        <testsuite name="LegacyBrowser">
            <directory suffix="Test.php">./legacy_tests/Browser</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="CACHE_STORE" value="file"/>
        <env name="SESSION_DRIVER" value="file"/>
    </php>
</phpunit>
